<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcit.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ParentAboutActivity"></activity>
        <activity android:name=".TeacherAboutActivity" />
        <activity android:name=".AdminAboutActivity" />
        <activity android:name=".ParentChangePasswordActivity" />
        <activity android:name=".TeacherChangePasswordActivity" />
        <activity android:name=".AdminChangePasswordActivity" />
        <activity android:name=".AdminPhoneAuthActivity" />
        <activity android:name=".ParentSetNewPasswordActivity" />
        <activity android:name=".TeacherSetNewPasswordActivity" />
        <activity android:name=".UpdatedForgotPasswordActivity" />
        <activity android:name=".SetNewPasswordActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ParentNotificationActivity" />
        <activity android:name=".TeacherNotificationActivity" />
        <activity android:name=".AdminNotificationAddActivity" />
        <activity android:name=".AdminNotificationActivity" />
        <activity android:name=".ParentPDFViewActivity" />
        <activity android:name=".ParentPDFActivity" />
        <activity android:name=".AdminPDFViewActivity" />
        <activity android:name=".AdminPDFActivity" />
        <activity android:name=".TeacherPDFViewActivity" />
        <activity android:name=".TeacherUploadActivity" />
        <activity android:name=".TeacherPDFActivity" />
        <activity android:name=".PhoneAuthActivity" />
        <activity android:name=".ParentSettingActivity" />
        <activity android:name=".ParentRegisterActivity" />
        <activity android:name=".ParentProfileActivity" />
        <activity
            android:name=".ParentHomeActivity"
            android:label="Parent Dashboard" />
        <activity android:name=".TeacherSettingActivity" />
        <activity android:name=".AdminSettingActivity" />
        <activity android:name=".AccountChooseActivity" />
        <activity android:name=".TeacherProfileActivity" />
        <activity android:name=".AdminProfileActivity" />
        <activity
            android:name=".TeacherHomeActivity"
            android:label="Teacher Dashboard" />
        <activity android:name=".TeacherRegisterActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Admin Dashboard" />
    </application>

</manifest>